body {
    font-family: 'Fredoka', sans-serif;
    background: url(https://i.pinimg.com/originals/99/bb/d0/99bbd0dadbb29ef6eef32389e25227fd.gif) no-repeat center center fixed;
    display: flex;
    background-size: cover;
    justify-content: center;
    padding-top: 50px;
  }
  
  .container {
    background: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px; /* Aumentado aqui */
    min-height: 400px; /* Altura mínima para o quadrado parecer maior */
  }

.botoes-direita {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.botoes-direita button {
  padding: 6px 10px;
  font-size: 14px;
  border-radius: 8px;
  background-color: #cce4ff;
  border: none;
  cursor: pointer;
}

input[type="text"] {
  padding: 8px;
  border-radius: 10px;
  border: 1px solid #ccc;
  width: 100%;
}

button {
  padding: 8px;
  background-color:#cce4ff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #cce4ff;
}

}
  
  #itemInput {
    padding: 10px;
    width: 70%;
    margin-right: 10px;
  }
  
  #addBtn {
    padding: 10px;
    cursor: pointer;
  }
  
  ul {
    list-style: none;
    padding-left: 0;
    margin-top: 20px;
  }
  
  li {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }
  
  li.comprado {
    text-decoration: line-through;
    color: rgb(152, 255, 143);
  }
  
  button.remove {
    background: rgb(255, 94, 0);
    color: white;
    border: none;
    cursor: pointer;  
    padding: 4px 8px;
}

.wrapper {
  display: flex;
  gap: 30px;
  align-items: flex-start;
  justify-content: center;
  padding: 80px 40px 40px; /* padding-top aumentado para não sobrepor botões */
}

.listas-salvas {
  background: white;
  padding: 15px;
  border-radius: 15px;
  width: 200px;
  min-height: 150px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.listas-salvas h3 {
  margin-top: 0;
  font-size: 16px;
  text-align: center;
}

.listas-salvas ul {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

.listas-salvas ul li {
  padding: 6px 8px;
  margin-bottom: 5px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

.listas-salvas ul li:hover {
  background-color: #f9f9f9;
}

